page-home {

}
.container
{
    background-image: url("../../assets/imgs/bs.jpg");
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}
.image{
    border-radius: 50%;
    margin-left: 8%;
}
.h1{
    color:whitesmoke;
    padding-left: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.header
{
    color:slateblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
   
}
.p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    color: darkcyan; 
    font-size: 3em;
}
.head
{
    color: darkcyan;  
}